/*CSS Reset*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*Generics*/

body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    min-width: 1200px;
}

img{
    max-width: 100%;
}

/*Header*/

header{
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;

    nav{
        padding: 15px;
    }

    a{
        color: black;
        margin: 0 8px;
    }
}

/*a*/

a{
    font-size: 0.75rem;
    text-decoration: none;

    img{
        vertical-align: middle;
        height: 20px;
    }
    
    &:hover{
        text-decoration: underline;
    }
}

h1{
    font-size: 5rem;
    margin-bottom: 3rem;
}

h2{
    font-size: 2.5rem;
    margin-bottom: 3rem;
}

h4{
    margin-bottom: 1rem;
}

ul{
    list-style-type: none;
}

li{
    display: flex;
    align-items: baseline;

    i{
        margin-right: 4px;
    }
}

footer{
    background-color: black;
    color: white;
    padding: 2rem 0;

    a{
        color: white;
    }

    .line{
        margin-bottom: 1rem;
    }
}

ol{
    list-style-type: none;
}

/*Utilities*/

/*Container*/

.container-big{
    min-width: 1050px;
    width: 70%;
    margin: auto;
}

.container-small{
    width: 60%;
    margin: auto;
}

/*Flex*/

.d-flex{
    display: flex;
    justify-content: space-between;
}

.w-30{
    width: 30%;
}

.w-70{
    width: 70%;
}

.row{
    display: flex;
    margin: 2rem -1rem;
    flex-wrap: wrap;
}

.col-3{
    width: calc(100% / 3);
    padding: 1rem;
}

.col-5{
    width: calc(100% / 5);
    padding: 1rem;
}

.col-long{
    width: 100%;
    padding: 1rem;
}

.col{
    width: calc(100% / 3);
    padding: 1rem;
}

.card{
    border: 1px solid #9598a5;
    height: 100%;
}

/*Specifics*/

.text-dec-none:hover{
    text-decoration: none;
}

.btn{
    background-color: #0061fe;
    color: white;
    text-align: center;

    &hover
}

.btn-white{
    display: inline-block;
    text-align: center;
    margin-top: 2rem;
    border: 1px solid black;
    color: black;
}

.padd{
    padding: 4px 12px;
}

.jumbotron{
    background-color: #b4d0e6;
    padding: 3rem 0;
    height: 660px;
    margin-bottom: 10rem;
}

.mrg2{
    display: inline-block;
    margin: 2rem 0;
}

.arrow{
    color: black;
    display: inline-block;
    margin-top: 20%;
    font-size: 2rem;
}

.font-small{
    font-size: 0.8rem;
    margin-left: 2px;
    margin-right: 3rem;
}

input[type="radio"]{
    vertical-align: bottom;
}

/*Sezione business*/

.type-business{
    text-align: center;
    padding: 4px 0;
    border-bottom: 1px solid #9598a5;
}

.characteristics-business{
    padding: 1rem;
    line-height: 2rem;

    .btn{
        display: inline-block;
    }
}

.pos-rel{
    position: relative;
}

.title-charact{
    margin: 1rem 0;
}

.cost{
    font-weight: bold;
    display: block;
}

.time{
    display: block;
    color: #9598a5;
    margin-bottom: 2rem;
}

.btn-long{
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.btn-pos{
    width: 12.5rem;
    display: inline-block;
}

.pos{
    position: absolute;
    right: 10px;
    top: 10px;
}

.link{
    font-size: 1rem;
    text-decoration: underline;
}

.line{
    height: 1px;
    width: 20%;
    border-bottom: 1px solid #9598a5;
    margin: 2rem 0;
}

.paragraph{
    width: 60%;
    margin-top: 2rem;
}

.partner{
    margin: 8rem 0;

    .w-30{
        padding-top: 2rem;
        padding-left: 1.5rem;
    }

    p{
        margin-top: 1rem;
    }
}

.img-partner{
    height: 30rem;
}

.operation h3{
    margin-bottom: 1rem;
}

.community{
    margin: 8rem 0;
}

.pié{
    font-size: 0.75rem;
}